<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lsd_slam_core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>lsdslam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ocv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6445B8C11AC4B36B0048AADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6445B9C81AC50ABD0048AADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6445BB911AC5D8A90048AADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6445BDE81AC756300048AADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646498C91A8E748B000C07E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
